@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body{
    margin: 0;
    background-image: url("/images/bgimg.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    line-height: 2em;
    font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.header{
    text-align: center;
}
.container{
    
    margin: 30px auto;
    position: relative;
    color: ;
    height: 950px;
    width: 400px;
    background-color: rgba(30, 30, 197, 0.8);
    color: #ffffff;
    padding: 10px 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(161, 116, 255, 0.81);
}

.btn{
    text-align: center;
   
}
#submit:hover{
    background-color: rgba(66, 66, 240, 0.8);
}
#submit{
    color: #ffffff;
    background-color:rgba(8, 8, 99, 0.8);
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 0.5 solid  rgba(161, 116, 255, 0.81);
}

#name{
    width: 350px;
    height:20px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
}

#email{
    width: 350px;
    height:20px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
}
#number{
    width: 350px;
    height:20px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
}

#dropdown{
    width: 350px;
    height:20px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
    
}

#most-like{
    width: 350px;
    height:20px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
}

.comments{
    text-align: center;
}

#comments{
    width: 350px;
    height:100px;
    border: 2px solid  rgba(37, 37, 241, 6) ;
    border-radius: 5px;
}